<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>predict</title>
    <style>
        #predicted_status {
            padding: 30px ;
        }
    </style>
</head>
<body>
  <div class="container">
    <div class="row">
        <form method="post" action="/pred" enctype="multipart/form-data">
            <input type="file" name="img_file" value="choose">
            <input type="checkbox" name="log">
            <input type="submit" value="predict" class="btn">

        </form>
            {% if img_path %}
                <p><img src="/{{ img_path }}"></p>
            {% endif %}
        <div id="predicted_status">
            {% if result %}
                <h1>{{ result[0] }}</h1>
                <p>{{ result[1] }}</p>
            {% endif %}
        </div>
    </div>
  </div>
</body>
</html>